<div class="mtg-card {{ color }}">
  <div class="header">
    <div class="row">
      <div class="text">{{ name }}</div>
      <div *ngIf="manaCost" class="mana" innerHtml="{{ manaCost }}"></div>
    </div>
  </div>
  <div class="art"></div>
  <div class="type">
    <div class="text">{{ type }}</div>
  </div>
  <div class="rule" *ngFor="let rule of rulesOut">
    <div class="text" innerHtml="{{ rule }}"></div>
  </div>
  <div class="rule last" *ngIf="stats">
    <div class="level-up">
      <div class="fill-col">
        <div class="text"></div>
      </div>
      <div class="pt">
        <div class="text">{{ stats }}</div>
      </div>
    </div>
  </div>
</div>

<div class="mtg-card blue">
  <div class="header">
    <div class="row">
      <div class="text">Echo Mage</div>
      <div class="mana">
        <div class="colorless">1</div>
        <div class="blue"></div>
        <div class="blue"></div>
      </div>
    </div>
  </div>
  <div class="full-art" style="
  background: url(https://i.redd.it/cdmv0rqty7521.png);
  background-position: -10px -20px;
  background-size: 200px auto;">
    <div class="art"></div>
    <div class="type">
      <div class="text">Creature - Human Wizard</div>
    </div>
    <div class="rule">
      <div class="level-up">
        <div class="fill-col">
          <div style="margin: 7px 8px;">Level up
            <div style="display: inline-block;">
              <div class="mana" style="margin: 0;">
                <div class="colorless">1</div>
                <div class="blue"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pt">
          <div class="text">2/3</div>
        </div>
      </div>
    </div>
    <div class="rule">
      <div class="level-up">
        <div class="level">
          <div class="text" style="white-space: nowrap;">2-3</div>
        </div>
        <div class="fill-col">
          <div class="text">
            <div style="display: inline-block;">
              <div class="mana" style="margin: 0;">
                <div class="blue"></div>
                <div class="blue"></div>
              </div>
            </div>
            , [T]: Copy target instant or sorcery spell. You may choose new targets for the copy.</div>
        </div>
        <div class="pt">
          <div style="margin: 4px 8px;">2/4</div>
        </div>
      </div>
    </div>
    <div class="rule last">
      <div class="level-up">
        <div class="level" style="width: 52px;">
          <div class="text">4+</div>
        </div>
        <div class="fill-col">
          <div class="text">
            <div style="display: inline-block;">
              <div class="mana" style="margin: 0;">
                <div class="blue"></div>
                <div class="blue"></div>
              </div>
            </div>
            , [T]: Copy target instant or sorcery spell twice. You may choose new targets for the copies.</div>
        </div>
        <div class="pt">
          <div class="text">2/5</div>
        </div>
      </div>
    </div>
  </div>
</div>
