<mtg-card></mtg-card>

<div sui-container style="margin-top: 2em;">
  <h1 sui-header>Ng-Sui Element Tests</h1>
  <h2 sui-header>Button</h2>
  <p>A standard button</p>
  <sui-button>Follow</sui-button>
  <h4 sui-header>Emphasis</h4>
  <p>A button can be formatted to show different levels of emphasis.</p>
  <sui-button color="primary">Save</sui-button>
  <sui-button>Discard</sui-button>
  <p>&nbsp;</p>
  <sui-button color="secondary">Okay</sui-button>
  <sui-button>Cancel</sui-button>
  <h4 sui-header>Animated</h4>
  <p>A button can animate to show hidden content</p>
  <sui-button animate>
    <div class="visible content">Next</div>
    <div class="hidden content">
      <i sui-icon="right arrow"></i>
    </div>
  </sui-button>
  <sui-button animate="vertical">
    <div class="visible content">Next</div>
    <div class="hidden content">
      <i sui-icon="right arrow"></i>
    </div>
  </sui-button>
  <sui-button animate="fade">
    <div class="visible content">Next</div>
    <div class="hidden content">
      <i sui-icon="right arrow"></i>
    </div>
  </sui-button>
  <h4 sui-header>Labelled</h4>
  <p>A button can appear alongside a label.</p>
  <sui-button icon="heart">
    Like
    <a sui-label basic after>2,048</a>
  </sui-button>
  <sui-button icon="heart">
    <a sui-label basic point="right" before>2,048</a>
    Like
  </sui-button>
  <p>&nbsp;</p>
  <sui-button icon="heart" color="red">
    Like
    <a sui-label after basic color="red" point="left">1,048</a>
  </sui-button>
  <sui-button basic icon="fork" color="blue">
    Forks
    <a sui-label basic after point="left" color="blue">1,048</a>
  </sui-button>
  <h4 sui-header>Icon</h4>
  <p>A button can have only an icon</p>
  <sui-button icon="cloud"></sui-button>
  <h4 sui-header>Labeled Icon</h4>
  <p>A button can use an icon as a label</p>
  <sui-button label="left" icon="pause">Pause</sui-button>
  <sui-button label="right" icon="right arrow">Next</sui-button>
  <h4 sui-header>Basic</h4>
  <p>A basic button is less pronounced</p>
  <sui-button basic icon="user">Add Friend</sui-button>
  <p>&nbsp;</p>
  <sui-button basic color="primary">Primary</sui-button>
  <sui-button basic color="secondary">Secondary</sui-button>
  <sui-button basic color="positive">Positive</sui-button>
  <sui-button basic color="negative">Negative</sui-button>
  <p>&nbsp;</p>
  <sui-button basic color="red">Red</sui-button>
  <sui-button basic color="orange">Orange</sui-button>
  <sui-button basic color="yellow">Yellow</sui-button>
  <sui-button basic color="olive">Olive</sui-button>
  <sui-button basic color="green">Green</sui-button>
  <sui-button basic color="teal">Teal</sui-button>
  <sui-button basic color="blue">Blue</sui-button>
  <sui-button basic color="violet">Violet</sui-button>
  <sui-button basic color="purple">Purple</sui-button>
  <sui-button basic color="pink">Pink</sui-button>
  <sui-button basic color="brown">Brown</sui-button>
  <sui-button basic color="grey">Grey</sui-button>
  <sui-button basic color="black">Black</sui-button>
  <h4 sui-header>Inverted</h4>
  <p>
  <div class="ui inverted segment">
    <sui-button inverted>Inverted</sui-button>
    <sui-button inverted color="primary">Primary</sui-button>
    <sui-button inverted color="secondary">Secondary</sui-button>
    <sui-button inverted color="positive">Positive</sui-button>
    <sui-button inverted color="negative">Negative</sui-button>
    <sui-button inverted color="red">Red</sui-button>
    <sui-button inverted color="orange">Orange</sui-button>
    <sui-button inverted color="yellow">Yellow</sui-button>
    <sui-button inverted color="olive">Olive</sui-button>
    <sui-button inverted color="green">Green</sui-button>
    <sui-button inverted color="teal">Teal</sui-button>
    <sui-button inverted color="blue">Blue</sui-button>
    <sui-button inverted color="violet">Violet</sui-button>
    <sui-button inverted color="purple">Purple</sui-button>
    <sui-button inverted color="pink">Pink</sui-button>
    <sui-button inverted color="brown">Brown</sui-button>
    <sui-button inverted color="grey">Grey</sui-button>
    <sui-button inverted color="black">Black</sui-button>
  </div>
  <div class="ui inverted segment">
    <sui-button inverted basic>Basic</sui-button>
    <sui-button inverted basic color="primary">Primary</sui-button>
    <sui-button inverted basic color="secondary">Secondary</sui-button>
    <sui-button inverted basic color="positive">Positive</sui-button>
    <sui-button inverted basic color="negative">Negative</sui-button>
    <sui-button inverted basic color="red">Red</sui-button>
    <sui-button inverted basic color="orange">Orange</sui-button>
    <sui-button inverted basic color="yellow">Yellow</sui-button>
    <sui-button inverted basic color="olive">Olive</sui-button>
    <sui-button inverted basic color="green">Green</sui-button>
    <sui-button inverted basic color="teal">Teal</sui-button>
    <sui-button inverted basic color="blue">Blue</sui-button>
    <sui-button inverted basic color="violet">Violet</sui-button>
    <sui-button inverted basic color="purple">Purple</sui-button>
    <sui-button inverted basic color="pink">Pink</sui-button>
    <sui-button inverted basic color="brown">Brown</sui-button>
    <sui-button inverted basic color="grey">Grey</sui-button>
    <sui-button inverted basic color="black">Black</sui-button>
  </div>
  <h3 sui-header>Groups</h3>
  <h4 sui-header>Buttons</h4>
  <p>Buttons can exist together in a group</p>
  <sui-buttons>
    <sui-button>One</sui-button>
    <sui-button>Two</sui-button>
    <sui-button>Three</sui-button>
  </sui-buttons>
  <h4 sui-header>Icon Buttons</h4>
  <p>Button groups can show groups of icons</p>
  <sui-buttons icon>
    <sui-button icon="align left"></sui-button>
    <sui-button icon="align center"></sui-button>
    <sui-button icon="align right"></sui-button>
    <sui-button icon="align justify"></sui-button>
  </sui-buttons>
  <sui-buttons icon>
    <sui-button icon="bold"></sui-button>
    <sui-button icon="underline"></sui-button>
    <sui-button icon="text width"></sui-button>
  </sui-buttons>
  <h3 sui-header>Content</h3>
  <h4 sui-header>Conditionals</h4>
  <sui-buttons>
    <sui-button>Cancel</sui-button>
    <div class="or"></div>
    <sui-button color="positive">Save</sui-button>
  </sui-buttons>
  <h3 sui-header>States</h3>
  <h4 sui-header>Active</h4>
  <p>A button can show it is currently the active user selection</p>
  <sui-button active icon="user">Follow</sui-button>
  <h4 sui-header>Disabled</h4>
  <p>A button can show it is currently unable to be interacted with</p>
  <sui-button disabled icon="user">Followed</sui-button>
  <h4 sui-header>Loading</h4>
  <p>A button can show a loading indicator</p>
  <sui-button loading>Loading</sui-button>
  <sui-button basic loading>Loading</sui-button>
  <sui-button color="primary" loading>Loading</sui-button>
  <sui-button color="secondary" loading>Loading</sui-button>
  <h3 sui-header>Variations</h3>
  <h4 sui-header>Social</h4>
  <p>A button can be formatted to link to a social website</p>
  <sui-button color="facebook" icon="facebook">Facebook</sui-button>
  <sui-button color="twitter" icon="twitter">Twitter</sui-button>
  <sui-button color="google plus" icon="google plus">Google Plus</sui-button>
  <sui-button color="vk" icon="vk">VK</sui-button>
  <sui-button color="linkedin" icon="linkedin">LinkedIn</sui-button>
  <sui-button color="instagram" icon="instagram">Instagram</sui-button>
  <sui-button color="youtube" icon="youtube">YouTube</sui-button>
  <h4 sui-header>Size</h4>
  <p>A button can have different sizes</p>
  <sui-button size="mini">Mini</sui-button>
  <sui-button size="tiny">Tiny</sui-button>
  <sui-button size="small">Small</sui-button>
  <sui-button size="medium">Medium</sui-button>
  <sui-button size="large">Large</sui-button>
  <sui-button size="big">Big</sui-button>
  <sui-button size="huge">Huge</sui-button>
  <sui-button size="massive">Massive</sui-button>
  <h4 sui-header>Floated</h4>
  <p>A button can be aligned to the left or right of its container</p>
  <div class="ui clearing segment">
    <sui-button float="right">Right Floated</sui-button>
    <sui-button float="left">Left Floated</sui-button>
  </div>
  <h4 sui-header>Coloured</h4>
  <p>A button can have different colors</p>
  <sui-button color="red">Red</sui-button>
  <sui-button color="orange">Orange</sui-button>
  <sui-button color="yellow">Yellow</sui-button>
  <sui-button color="olive">Olive</sui-button>
  <sui-button color="green">Green</sui-button>
  <sui-button color="teal">Teal</sui-button>
  <sui-button color="blue">Blue</sui-button>
  <sui-button color="violet">Violet</sui-button>
  <sui-button color="purple">Purple</sui-button>
  <sui-button color="pink">Pink</sui-button>
  <sui-button color="brown">Brown</sui-button>
  <sui-button color="grey">Grey</sui-button>
  <sui-button color="black">Black</sui-button>
  <h4 sui-header>Compact</h4>
  <p>A button can reduce its padding to fir into tighter spaces</p>
  <sui-button compact>Hold</sui-button>
  <sui-button compact icon="pause"></sui-button>
  <sui-button compact label="left" icon="pause">Pause</sui-button>
  <h4 sui-header>Toggle</h4>
  <p>A button can be formatted to toggle on and off</p>
  <sui-button toggle>Vote</sui-button>
  <h4 sui-header>Positive</h4>
  <p>A button can hint towards a positive consequence</p>
  <sui-button color="positive">Positive Button</sui-button>
  <h4 sui-header>Negative</h4>
  <p>A button can hint towards a negative consequence</p>
  <sui-button color="negative">Negative Button</sui-button>
  <h4 sui-header>Fluid</h4>
  <p>A button can take the width of its container</p>
  <sui-button fluid>Fits container</sui-button>
  <h4 sui-header>Circular</h4>
  <p>A button can be circular</p>
  <sui-button circular icon="settings"></sui-button>
  <p>&nbsp;</p>
  <sui-button circular color="facebook" icon="facebook"></sui-button>
  <sui-button circular color="twitter" icon="twitter"></sui-button>
  <sui-button circular color="linkedin" icon="linkedin"></sui-button>
  <sui-button circular color="google plus" icon="google plus"></sui-button>
  <h4 sui-header>Vertically Attached</h4>
  <p>A button can be attachedto the top or bottom of other content</p>
  <sui-button attach="top">Top</sui-button>
  <div class="ui attached segment">
    <p>This is a test segment for attaching</p>
  </div>
  <sui-button attach="bottom">Bottom</sui-button>
  <p>&nbsp;</p>
  <sui-buttons attach="top">
    <sui-button>One</sui-button>
    <sui-button>Two</sui-button>
  </sui-buttons>
  <div class="ui attached segment">
    <p>This is a test segment for attaching</p>
  </div>
  <sui-buttons attach="bottom">
    <sui-button>One</sui-button>
    <sui-button>Two</sui-button>
  </sui-buttons>
  <h4 sui-header>Horizontally Attached</h4>
  <p>A button can be attached to the left or right of other content.</p>
  <sui-button attach="left">Left</sui-button>
  <sui-button attach="right">Right</sui-button>
  <h3 sui-header>Group Variations</h3>
  <h4 sui-header>Vertical Buttons</h4>
  <p>Groups can be formatted to appear vertically</p>
  <sui-buttons vertical>
    <sui-button>Feed</sui-button>
    <sui-button>Messages</sui-button>
    <sui-button>Events</sui-button>
    <sui-button>Photos</sui-button>
  </sui-buttons>
  <h4 sui-header>Icon Buttons</h4>
  <p>Groups can be formatted as icons</p>
  <sui-buttons icon>
    <sui-button icon="play"></sui-button>
    <sui-button icon="pause"></sui-button>
    <sui-button icon="shuffle"></sui-button>
  </sui-buttons>
  <h4 sui-header>Labeled Icon Buttons</h4>
  <p>Groups can be formatted as labeled icons</p>
  <sui-buttons vertical labeled icon>
    <sui-button icon="pause">Pause</sui-button>
    <sui-button icon="play">Play</sui-button>
    <sui-button icon="shuffle">Shuffle</sui-button>
  </sui-buttons>
  <h4 sui-header>Mixed Group</h4>
  <p>Groups can be formatted to use multiple button types together</p>
  <sui-buttons>
    <sui-button label="left" icon="left chevron">Back</sui-button>
    <sui-button icon="stop">Stop</sui-button>
    <sui-button label="right" icon="right chevron">Forward</sui-button>
  </sui-buttons>
  <h4 sui-header>Equal Width</h4>
  <p>Groups can have their widths divided evenly</p>
  <sui-buttons width="5">
    <sui-button>Overview</sui-button>
    <sui-button>Specs</sui-button>
    <sui-button>Warranty</sui-button>
    <sui-button>Reviews</sui-button>
    <sui-button>Support</sui-button>
  </sui-buttons>
  <sui-buttons width="3">
    <sui-button>Overview</sui-button>
    <sui-button>Specs</sui-button>
    <sui-button>Support</sui-button>
  </sui-buttons>
  <h4 sui-header>Colored Buttons</h4>
  <p>Groups can have a shared color</p>
  <sui-buttons color="blue">
    <sui-button>One</sui-button>
    <sui-button>Two</sui-button>
    <sui-button>Three</sui-button>
  </sui-buttons>
  <h4 sui-header>Basic Buttons</h4>
  <p>A button group can be less pronounced</p>
  <sui-buttons basic>
    <sui-button>One</sui-button>
    <sui-button>Two</sui-button>
    <sui-button>Three</sui-button>
  </sui-buttons>
  <div sui-divider></div>
  <sui-buttons basic vertical>
    <sui-button>One</sui-button>
    <sui-button>Two</sui-button>
    <sui-button>Three</sui-button>
  </sui-buttons>
  <p>&nbsp;</p>
  <sui-buttons>
    <sui-button basic color="red">One</sui-button>
    <sui-button basic color="blue">Two</sui-button>
    <sui-button basic color="green">Three</sui-button>
  </sui-buttons>
  <h4 sui-header>Group Sizes</h4>
  <p>Groups can have a shared size</p>
  <sui-buttons size="large">
    <sui-button>One</sui-button>
    <sui-button>Two</sui-button>
    <sui-button>Three</sui-button>
  </sui-buttons>
  <p>&nbsp;</p>
  <sui-buttons size="small" basic icon>
    <sui-button icon="file"></sui-button>
    <sui-button icon="save"></sui-button>
    <sui-button icon="upload"></sui-button>
    <sui-button icon="download"></sui-button>
  </sui-buttons>
  <p>&nbsp;</p>
  <sui-buttons size="large">
    <sui-button>One</sui-button>
    <div class="or"></div>
    <sui-button>Two</sui-button>
  </sui-buttons>
  <h3 sui-header>Additional Features</h3>
  <h4 sui-header>Flags</h4>
  <sui-button flag="gb">United Kingdom</sui-button>
  <sui-button flag="us">United States</sui-button>

  <h2 sui-header>Divider</h2>
  <p>A standard divider</p>
  <div sui-divider></div>
  <h4>Vertical Divider</h4>
  <p>A divider can segment content vertically</p>
  <div class="ui segment">
    <div class="ui two column vert relaxed grid">
      <div class="column">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
      </div>
      <div class="column">
        <p>1</p>
        <p>2</p>
        <p>3</p>
        <p>4</p>
      </div>
    </div>
    <div sui-divider vertical label="and"></div>
  </div>
  <p>&nbsp;</p>
  <div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>Username</label>
            <sui-input icon="user" iconSide="left" placeholder="Username"></sui-input>
          </div>
          <div class="field">
            <label>Password</label>
            <sui-input icon="lock" iconSide="left" type="password"></sui-input>
          </div>
          <sui-button color="blue">Login</sui-button>
        </div>
      </div>
      <div class="middle aligned column">
        <sui-button size="big" icon="signup">Sign Up</sui-button>
      </div>
    </div>
    <div sui-divider vertical label="Or"></div>
  </div>
  <h4 sui-header>Horizontal Divider</h4>
  <p>A divider can segment content horizontally</p>
  <div class="ui center aligned basic segment">
    <sui-input placeholder="Order #" icon="search" iconSide="left">
      <sui-button after color="blue">Search</sui-button>
    </sui-input>
    <div sui-divider label="Or"></div>
    <sui-button label="left" icon="add" color="teal">Create New Order</sui-button>
  </div>
  <h3 sui-header>Variations</h3>
  <h4 sui-header>Inverted</h4>
  <p>A divider can have its colors inverted</p>
  <div class="ui inverted segment">
    <p></p>
    <div sui-divider inverted></div>
    <p></p>
    <div sui-divider inverted label="Horizontal"></div>
  </div>
  <h4 sui-header>Fitted</h4>
  <p>A divider can be fitted, without any space above or below it</p>
  <div class="ui segment">
    Test text
    <div sui-divider fitted></div>
    More text
  </div>
  <h4 sui-header>Hidden</h4>
  <p>A hidden divider dividescontent without creating a dividing line</p>
  <p>Some test text</p>
  <div sui-divider hidden></div>
  <p>The divider should be hidden between the paragraphs</p>
  <h4 sui-header>Section</h4>
  <p>A divider can provide greater margins to divide sections of content</p>
  <p>Section 1</p>
  <div sui-divider section></div>
  <p>Section 2</p>
  <h4 sui-header>Clearing</h4>
  <p>A divider can clear the contents above it</p>
  <div class="ui segment">
    <h2 sui-header float="right">Floated Content</h2>
    <div sui-divider clearing></div>
    <p>Test text</p>
  </div>
  <h3 sui-header>Additional Features</h3>
  <h4 sui-header>Icons</h4>
  <div sui-divider label="Description" icon="globe"></div>
  <h2 sui-header>Flag</h2>
  <p>A flag can use the two digit country code, the full name, or a common alias</p>
  <i sui-flag="ae"></i>
  <i sui-flag="france"></i>
  <i sui-flag="myanmar"></i>
  <h2 sui-header>Header</h2>
  <h4 sui-header>Page Headers</h4>
  <p>Headers may be oriented to give the hierarchy of a section in the context of the page</p>
  <h1 sui-header>First Header</h1>
  <h2 sui-header>Second Header</h2>
  <h3 sui-header>Third Header</h3>
  <h4 sui-header>Fourth Header</h4>
  <h5 sui-header>Fifth Header</h5>
  <h6 sui-header>Sixth Header</h6>
  <h4 sui-header>Content Headers</h4>
  <p>Headers may be oriented to give the importance of a section in the context of the content that surrounds it</p>
  <sui-header size="huge">Huge Header</sui-header>
  <p>&nbsp;</p>
  <sui-header size="large">Large Header</sui-header>
  <p>&nbsp;</p>
  <sui-header size="medium">Medium Header</sui-header>
  <p>&nbsp;</p>
  <sui-header size="small">Small Header</sui-header>
  <p>&nbsp;</p>
  <sui-header size="tiny">Tiny Header</sui-header>
  <h4 sui-header>Icon Headers</h4>
  <p>A header can be formatted to emphasize an icon</p>
  <h2 sui-header icon="settings">
    Account Settings
    <div class="sub header">Manage your account settings and set e-mail preferences.</div>
  </h2>
  <h2 sui-header icon="circular users" align="center">Friends</h2>
  <h4 sui-header>Sub Headers</h4>
  <p>Sub headers are formatted to label smaller or de-emphasized content.</p>
  <sui-subheader>Price</sui-subheader>
  <p>$10.99</p>
  <h3 sui-header>Content</h3>
  <h4 sui-header>Image</h4>
  <h2 sui-header image="assets/images/wireframe/image.png">Learn More</h2>
  <h2 sui-header image="assets/images/wireframe/image.png" sub="Check out our plug-in marketplace">Plugins</h2>
  <h4 sui-header>Icon</h4>
  <p>A header may contain an icon</p>
  <h2 sui-header icon="plug" bulleted>Uptime Guarantee</h2>
  <h2 sui-header icon="settings" bulleted sub="Manage your preferences">Account Settings</h2>
  <h4 sui-header>Subheader</h4>
  <p>Headers may container subheaders</p>
  <h2 sui-header sub="Manage your account settings and set e-mail preferences.">Account Settings</h2>
  <h1 sui-header sub="Sub Header">H1</h1>
  <h2 sui-header sub="Sub Header">H2</h2>
  <h3 sui-header sub="Sub Header">H3</h3>
  <h4 sui-header sub="Sub Header">H4</h4>
  <h5 sui-header sub="Sub Header">H5</h5>
  <h6 sui-header sub="Sub Header">H6</h6>
  <h3 sui-header>Status</h3>
  <h4 sui-header>Disabled</h4>
  <sui-header disabled>Disabled Header</sui-header>
  <h3 sui-header>Variations</h3>
  <h4 sui-header>Dividing</h4>
  <p>A header can be formatted to divide itself from the content below it</p>
  <p>Some test text</p>
  <h3 sui-header dividing>Dividing Header</h3>
  <p>More test text</p>
  <h4 sui-header>Block</h4>
  <p>A header can be formatted to appear inside a content block</p>
  <h3 sui-header block>Block Header</h3>
  <h4 sui-header>Attached</h4>
  <p>A header can be attached to other content, like a segment</p>
  <h3 sui-header attach="top">Top Attached</h3>
  <div class="ui attached segment">
    <p></p>
  </div>
  <h3 sui-header attach="both">Attached</h3>
  <div class="ui attached segment">
    <p></p>
  </div>
  <h3 sui-header attach="bottom">Bottom Attached</h3>
  <h4 sui-header>Floating</h4>
  <p>A header can sit to the left or right of other content</p>
  <div class="ui clearing segment">
    <h3 sui-header float="right">Go Forward</h3>
    <h3 sui-header float="left">Go Back</h3>
  </div>
  <h4 sui-header>Text Alignment</h4>
  <p>A header can have its text aligned to a side</p>
  <div class="ui segment">
    <h3 sui-header align="right">Right</h3>
    <h3 sui-header align="left">Left</h3>
    <h3 sui-header align="justify">This should take up the full width even if only one line</h3>
    <h3 sui-header align="center">Center</h3>
  </div>
  <h4 sui-header>Colored</h4>
  <p>A header can be formatted with different colors</p>
  <h4 sui-header color="red">Red</h4>
  <h4 sui-header color="orange">Orange</h4>
  <h4 sui-header color="yellow">Yellow</h4>
  <h4 sui-header color="olive">Olive</h4>
  <h4 sui-header color="green">Green</h4>
  <h4 sui-header color="teal">Teal</h4>
  <h4 sui-header color="blue">Blue</h4>
  <h4 sui-header color="purple">Purple</h4>
  <h4 sui-header color="violet">Violet</h4>
  <h4 sui-header color="pink">Pink</h4>
  <h4 sui-header color="brown">Brown</h4>
  <h4 sui-header color="grey">Grey</h4>
  <h4 sui-header>Inverted</h4>
  <p>A header can have its colors inverted for contrast</p>
  <div class="ui inverted segment">
    <h4 sui-header inverted color="red">Red</h4>
    <h4 sui-header inverted color="orange">Orange</h4>
    <h4 sui-header inverted color="yellow">Yellow</h4>
    <h4 sui-header inverted color="olive">Olive</h4>
    <h4 sui-header inverted color="green">Green</h4>
    <h4 sui-header inverted color="teal">Teal</h4>
    <h4 sui-header inverted color="blue">Blue</h4>
    <h4 sui-header inverted color="purple">Purple</h4>
    <h4 sui-header inverted color="violet">Violet</h4>
    <h4 sui-header inverted color="pink">Pink</h4>
    <h4 sui-header inverted color="brown">Brown</h4>
    <h4 sui-header inverted color="grey">Grey</h4>
  </div>
  <h2 sui-header>Icon</h2>
  <p>An icon set contains an arbitrary number of glyphs</p>
  <i sui-icon="blind"></i>
  <i sui-icon="braille"></i>
  <i sui-icon="deaf"></i>
  <h2 sui-header>Image</h2>
  <p>An image</p>
  <img sui-img url="assets/images/wireframe/image.png" size="small">
  <p>&nbsp;</p>
  <sui-img size="small" url="assets/images/wireframe/image.png"></sui-img>
  <p>&nbsp;</p>
  <sui-svg size="small">
    <svg width="150" width="150">
      <image xlink:href="assets/images/wireframe/image.png" x="0" y="0" width="100%" height="100%"></image>
    </svg>
  </sui-svg>
  <h3 sui-header>States</h3>
  <h4 sui-header>Hidden</h4>
  <p>An image can be hidden</p>
  <img sui-img src="assets/images/wireframe/image.png" hidden>
  <h4 sui-header>Disabled</h4>
  <p>An image can show that it is disabled and cannot be selected</p>
  <img sui-img src="assets/images/wireframe/image.png" disabled>
  <h3 sui-header>Variations</h3>
  <h4 sui-header>Avatar</h4>
  <p>An image may be formatted to appear inline with text as an avatar</p>
  <img sui-img avatar url="assets/images/wireframe/image.png">
  <span>Username</span>
  <h4 sui-header>Bordered</h4>
  <img sui-img bordered size="medium" src="assets/images/wireframe/image.png">
  <h4 sui-header>Fluid</h4>
  <p>An image can take up the width of its container</p>
  <img sui-img fluid url="assets/images/wireframe/image.png">
  <h4 sui-header>Rounded</h4>
  <p>An image may appear rounded</p>
  <img sui-img size="medium" rounded src="assets/images/wireframe/image.png">
  <h4 sui-header>Circular</h4>
  <p>An image may appear circular</p>
  <img sui-img size="medium" circular src="assets/images/wireframe/image.png">
  <h4 sui-header>Vertically Aligned</h4>
  <p>An image can specify its vertical alignment</p>
  <img sui-img align="top" size="tiny" src="assets/images/wireframe/image.png">
  <span>Top Aligned</span>
  <div sui-divider></div>
  <img sui-img align="middle" size="tiny" src="assets/images/wireframe/image.png">
  <span>Middle Aligned</span>
  <div sui-divider></div>
  <img sui-img align="bottom" size="tiny" src="assets/images/wireframe/image.png">
  <span>Bottom Aligned</span>
  <h4 sui-header>Centered</h4>
  <p>An image can appear centered in a content block</p>
  <div class="ui segment">
    <img sui-img centered size="medium" src="assets/images/wireframe/image.png">
    <p>Some text</p>
  </div>
  <h4 sui-header>Spaced</h4>
  <p>An image can specify that it needs an additional spacing to separate it from nearby content</p>
  <div class="ui segment">
    <p>Some text <img sui-img spaced size="mini" src="assets/images/wireframe/image.png"> with an image placed inside it</p>
  </div>
  <h4 sui-header>Floated</h4>
  <p>An image can sit t the left or right of other content</p>
  <div class="ui clearing segment">
    <img sui-img float="left" size="small" src="assets/images/wireframe/image.png">
    <p>This contains a bunch of text and stuff and blah blah</p>
    <img sui-img float="right" size="small" src="assets/images/wireframe/image.png">
    <p>This contains a bunch of text and stuff and blah blah</p>
  </div>
  <h4 sui-header>Size</h4>
  <p>An image may appear at different sizes</p>
  <img sui-img size="mini" src="assets/images/wireframe/image.png">
  <img sui-img size="tiny" src="assets/images/wireframe/image.png">
  <img sui-img size="small" src="assets/images/wireframe/image.png">
  <img sui-img size="medium" src="assets/images/wireframe/image.png">
  <img sui-img size="large" src="assets/images/wireframe/image.png">
  <img sui-img size="big" src="assets/images/wireframe/image.png">
  <img sui-img size="huge" src="assets/images/wireframe/image.png">
  <img sui-img size="massive" src="assets/images/wireframe/image.png">
  <h3 sui-header>Groups</h3>
  <h4 sui-header>Size</h4>
  <sui-images size="mini">
    <img sui-img src="assets/images/wireframe/image.png">
    <img sui-img src="assets/images/wireframe/image.png">
    <img sui-img src="assets/images/wireframe/image.png">
  </sui-images>
  <p>&nbsp;</p>
  <sui-images size="small">
    <img sui-img src="assets/images/wireframe/image.png">
    <img sui-img src="assets/images/wireframe/image.png">
    <img sui-img src="assets/images/wireframe/image.png">
  </sui-images>
  <h2 sui-header>Input</h2>
  <p>A standard input</p>
  <sui-input placeholder="Search..."></sui-input>
  <h3 sui-header>States</h3>
  <h4 sui-header>Focus</h4>
  <p>An input field can show a user is currently interacting with it</p>
  <sui-input focus placeholder="Search..."></sui-input>
  <h4 sui-header>Loading</h4>
  <sui-input loading placeholder="Search..." icon="search" iconSide="left"></sui-input>
  <p>&nbsp;</p>
  <sui-input loading placeholder="Search..." icon="search"></sui-input>
  <h4 sui-header>Disabled</h4>
  <p>An input field can show that it is disabled</p>
  <sui-input disabled placeholder="Search..."></sui-input>
  <p>&nbsp;</p>
  <sui-input disabled placeholder="Search..." icon="search"></sui-input>
  <h4 sui-header>Error</h4>
  <p>An input field can show the data contains errors</p>
  <sui-input error placeholder="Search..."></sui-input>
  <h3 sui-header>Variations</h3>
  <h4 sui-header>Icon</h4>
  <p>An input can be formatted with an icon</p>
  <sui-input placeholder="Search..." icon="search"></sui-input>
  <p>&nbsp;</p>
  <sui-input placeholder="Search users..." icon="users" iconSide="left"></sui-input>
  <p>&nbsp;</p>
  <sui-input placeholder="Search..." icon="circular search link"></sui-input>
  <p>&nbsp;</p>
  <sui-input placeholder="Search..." icon="inverted circular search link"></sui-input>
  <h4 sui-header>Label</h4>
  <p>An input can be formatted with a label</p>
  <sui-input placeholder="mysite.com">
    <sui-label before>Http://</sui-label>
  </sui-input>
  <p>&nbsp;</p>
  <sui-input placeholder="Find domain">
    <sui-label dropdown after>
      <div class="text">.com</div>
      <i sui-icon="dropdown"></i>
      <div class="menu">
        <div class="item">.com</div>
        <div class="item">.net</div>
        <div class="item">.org</div>
      </div>
    </sui-label>
  </sui-input>
  <p>&nbsp;</p>
  <sui-input placeholder="Enter weight...">
    <sui-label basic after>kg</sui-label>
  </sui-input>
  <p>&nbsp;</p>
  <sui-input placeholder="Amount">
    <label before for="amount" sui-label>$</label>
    <sui-label after basic>.00</sui-label>
  </sui-input>
  <p>&nbsp;</p>
  <sui-input placeholder="Enter tags" icon="tags" iconSide="left">
    <sui-label tag after>Add Tag</sui-label>
  </sui-input>
  <p>&nbsp;</p>
  <sui-input placeholder="Search...">
    <sui-label icon="asterisk" corner before></sui-label>
  </sui-input>
  <p>&nbsp;</p>
  <sui-input label="right" placeholder="Search...">
    <sui-label icon="asterisk" corner after></sui-label>
  </sui-input>
  <h4 sui-header>Action</h4>
  <p>An input can be formatted to alert the user to an action they may perform</p>
  <sui-input placeholder="Search...">
    <sui-button after>Search</sui-button>
  </sui-input>
  <p>&nbsp;</p>
  <sui-input value="$52.03">
    <sui-button before color="teal" icon="cart" label="left">Checkout</sui-button>
  </sui-input>
  <p>&nbsp;</p>
  <sui-input placeholder="Search..." icon="search" iconSide="left">
    <sui-button after basic floating dropdown>
      <div class="text">This Page</div>
      <i sui-icon="dropdown"></i>
      <div class="menu">
        <div class="item">This Organization</div>
        <div class="item">Entire Site</div>
      </div>
    </sui-button>
  </sui-input>
  <p>&nbsp;</p>
  <sui-input placeholder="Search...">
    <select after class="ui compact selection dropdown">
      <option value="all">All</option>
      <option selected="" value="articles">Articles</option>
      <option value="products">Products</option>
    </select>
    <sui-button after>Search</sui-button>
  </sui-input>
  <p>&nbsp;</p>
  <sui-input value="http://www.short.url/c0opq">
    <sui-button after color="teal" icon="copy" label="right">Copy</sui-button>
  </sui-input>
  <p>&nbsp;</p>
  <sui-input placeholder="Search...">
    <sui-button after icon="search"></sui-button>
  </sui-input>
  <h4 sui-header>Transparent</h4>
  <p>A transparent input has no background</p>
  <sui-input transparent placeholder="Search..."></sui-input>
  <p>&nbsp;</p>
  <sui-input transparent icon="search" placeholder="Search..."></sui-input>
  <p>&nbsp;</p>
  <sui-input transparent icon="search" iconSide="left" placeholder="Search..."></sui-input>
  <h4 sui-header>Inverted</h4>
  <div class="ui inverted segment">
    <sui-input inverted placeholder="Search..."></sui-input>
    <div sui-divider inverted></div>
    <sui-input inverted icon="search" iconSide="left" placeholder="Search..."></sui-input>
    <div sui-divider inverted></div>
    <sui-input inverted transparent icon="search" placeholder="Search..."></sui-input>
  </div>
  <h4 sui-header>Fluid</h4>
  <p>An input can take the size of its container</p>
  <sui-input fluid placeholder="Search a very wide input..." icon="search"></sui-input>
  <sui-input fluid placeholder="Search...">
    <sui-button after>Search</sui-button>
  </sui-input>
  <h4 sui-header>Size</h4>
  <p>An input can vary in size</p>
  <sui-input size="mini" placeholder="Search mini..." icon="search"></sui-input>
  <p>&nbsp;</p>
  <sui-input size="small" placeholder="Search small..." icon="search"></sui-input>
  <p>&nbsp;</p>
  <sui-input size="large" placeholder="Search large..." icon="search"></sui-input>
  <p>&nbsp;</p>
  <sui-input size="big" placeholder="Search big..." icon="search"></sui-input>
  <p>&nbsp;</p>
  <sui-input size="huge" placeholder="Search huge..." icon="search"></sui-input>
  <p>&nbsp;</p>
  <sui-input size="massive" placeholder="Search massive..." icon="search"></sui-input>
  <h2 sui-header>Label</h2>
  <p>A label</p>
  <sui-label icon="mail">23</sui-label>
  <h4 sui-header>Image</h4>
  <p>A label can be formatted to emphasize an image</p>
  <sui-label>
    <img src="assets/images/wireframe/image.png">
    Joe
  </sui-label>
  <sui-label>
    <img src="assets/images/wireframe/image.png">
    Elliot
  </sui-label>
  <sui-label>
    <img src="assets/images/wireframe/image.png">
    Stevie
  </sui-label>
  <p>&nbsp;</p>
  <sui-label color="blue">
    <img src="assets/images/wireframe/image.png">
    Veronika
    <div class="detail">Friend</div>
  </sui-label>
  <sui-label color="teal">
    <img src="assets/images/wireframe/image.png">
    Veronika
    <div class="detail">Student</div>
  </sui-label>
  <sui-label color="yellow">
    <img src="assets/images/wireframe/image.png">
    Helen
    <div class="detail">Co-worker</div>
  </sui-label>
  <p>&nbsp;</p>
  <sui-label>
    <img src="assets/images/wireframe/image.png">
    Adrienne
    <i sui-icon="delete"></i>
  </sui-label>
  <sui-label>
    <img src="assets/images/wireframe/image.png">
    Zoe
    <i sui-icon="delete"></i>
  </sui-label>
  <sui-label>
    <img src="assets/images/wireframe/image.png">
    Nan
    <i sui-icon="delete"></i>
  </sui-label>
  <h4 sui-header>Pointing</h4>
  <p>A label can point to content next to it</p>
  <form class="ui fluid form">
    <div class="field">
      <sui-input placeholder="First name"></sui-input>
      <sui-label point="above">Please enter a value</sui-label>
    </div>
    <div sui-divider></div>
    <div class="field">
      <sui-label point="below">Please enter a value</sui-label>
      <sui-input placeholder="Last name"></sui-input>
    </div>
    <div sui-divider></div>
    <div class="inline field">
      <sui-input placeholder="Username"></sui-input>
      <sui-label point="left">That name is taken!</sui-label>
    </div>
    <div sui-divider></div>
    <div class="inline field">
      <sui-label point="right">Your password must be 6 characters or more</sui-label>
      <sui-input type="password"></sui-input>
    </div>
  </form>
  <p>&nbsp;</p>
  <form class="ui fluid form">
    <div class="field">
      <sui-input placeholder="First name"></sui-input>
      <sui-label basic color="red" point="above">Please enter a value</sui-label>
    </div>
    <div sui-divider></div>
    <div class="field">
      <sui-label basic color="red" point="below">Please enter a value</sui-label>
      <sui-input placeholder="Last name"></sui-input>
    </div>
    <div sui-divider></div>
    <div class="inline field">
      <sui-input placeholder="Username"></sui-input>
      <sui-label basic color="red" point="left">That name is taken!</sui-label>
    </div>
    <div sui-divider></div>
    <div class="inline field">
      <sui-label basic color="red" point="right">Your password must be 6 characters or more</sui-label>
      <sui-input type="password"></sui-input>
    </div>
  </form>
  <h4 sui-header>Corner</h4>
  <p>A label can position itself in the corner of an element</p>
  <div class="ui two column grid">
    <div class="column">
      <sui-img fluid src="assets/images/wireframe/image.png">
        <sui-label corner before icon="heart"></sui-label>
      </sui-img>
    </div>
    <div class="column">
      <sui-img fluid src="assets/images/wireframe/image.png">
        <sui-label corner after icon="save" color="red"></sui-label>
      </sui-img>
    </div>
  </div>
  <h4 sui-header>Tag</h4>
  <p>A label can appear as a tag</p>
  <sui-label tag>New</sui-label>
  <sui-label tag color="red">Upcoming</sui-label>
  <sui-label tag color="teal">Featured</sui-label>
  <h4 sui-header>Ribbon</h4>
  <p>A label can appear as a ribbon attaching itself to an element</p>
  <div class="ui two column grid">
    <div class="column">
      <div class="ui raised segment">
        <sui-label color="red" ribbon="left">Overview</sui-label>
        <span>Account Details</span>
        <p></p>
        <sui-label color="blue" ribbon="left">Community</sui-label> User Reviews
        <p></p>
      </div>
    </div>
    <div class="column">
      <div class="ui raised segment">
        <sui-label color="orange" ribbon="right">Specs</sui-label>
        <p></p>
        <sui-label color="blue" ribbon="right">Reviews</sui-label>
        <p></p>
      </div>
    </div>
  </div>
  <div class="ui two column grid">
    <div class="column">
      <sui-img fluid src="assets/images/wireframe/image.png">
        <sui-label color="black" ribbon="left" icon="hotel">Hotel</sui-label>
      </sui-img>
    </div>
    <div class="column">
      <sui-img fluid src="assets/images/wireframe/image.png">
        <sui-label color="blue" ribbon="left" icon="spoon">Food</sui-label>
      </sui-img>
    </div>
  </div>
  <h4 sui-header>Attached</h4>
  <p>A label can attach to a content segment</p>
  <div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
        <sui-label attach="top">HTML</sui-label>
        <p>Example text</p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <sui-label attach="bottom">CSS</sui-label>
        <p>Example text</p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <sui-label attach="top right">Code</sui-label>
        <p>Example text</p>
      </div>
    </div>
  </div>
  <div class="ui three column grid">
    <div class="column">
      <div class="ui segment">
        <sui-label attach="top left">View</sui-label>
        <p>Example text</p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <sui-label attach="bottom left">User View</sui-label>
        <p>Example text</p>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <sui-label attach="bottom right">Admin View</sui-label>
        <p>Example text</p>
      </div>
    </div>
  </div>
  <h4 sui-header>Horizontal</h4>
  <p>A horizontal label is formatted to label content along-side it horizontally</p>
  <div class="ui divided selection list">
    <a class="item">
      <sui-label horizontal color="red">Fruit</sui-label>
      Kumquats
    </a>
    <a class="item">
      <sui-label horizontal color="purple">Candy</sui-label>
      Ice Cream
    </a>
    <a class="item">
      <sui-label horizontal color="red">Fruit</sui-label>
      Orange
    </a>
    <a class="item">
      <sui-label horizontal>Dog</sui-label>
      Poodle
    </a>
  </div>
  <h4 sui-header>Floating</h4>
  <p>A label can float above another element</p>
  <div class="ui compact menu">
    <a class="item">
      <i sui-icon="mail"></i> Messages
      <sui-label floating color="red">22</sui-label>
    </a>
    <a class="item">
      <i sui-icon="users"></i> Friends
      <sui-label floating color="teal">22</sui-label>
    </a>
  </div>
  <h3 sui-header>Content</h3>
  <h4 sui-header>Detail</h4>
  <p>A label can contain a detail</p>
  <sui-label>
    Dogs
    <div class="detail">214</div>
  </sui-label>
  <h4 sui-header>Icon</h4>
  <p>A label can include an icon</p>
  <sui-label icon="mail">Mail</sui-label>
  <sui-label icon="delete" iconSide="right">Tag</sui-label>
  <h4 sui-header>Image</h4>
  <p>A label can include an image</p>
  <sui-label>
    <img sui-img src="assets/images/wireframe/image.png" size="small" avatar spaced>
    Elliot
  </sui-label>
  <sui-label>
    <img src="assets/images/wireframe/image.png">
    Stevie
  </sui-label>
  <h4 sui-header>Link</h4>
  <p>A label can be a link or contain an item that links</p>
  <a sui-label icon="mail">23</a>
  <p>&nbsp;</p>
  <sui-label icon="mail">
    23
    <a class="detail">View Mail</a>
  </sui-label>
  <h3 sui-header>Variations</h3>
  <h4 sui-header>Circular</h4>
  <p>A label can be circular</p>
  <sui-label circular color="red">2</sui-label>
  <sui-label circular color="orange">2</sui-label>
  <sui-label circular color="yellow">2</sui-label>
  <sui-label circular color="olive">2</sui-label>
  <sui-label circular color="green">2</sui-label>
  <sui-label circular color="teal">2</sui-label>
  <sui-label circular color="blue">2</sui-label>
  <sui-label circular color="violet">2</sui-label>
  <sui-label circular color="purple">2</sui-label>
  <sui-label circular color="pink">2</sui-label>
  <sui-label circular color="brown">2</sui-label>
  <sui-label circular color="grey">2</sui-label>
  <sui-label circular color="black">2</sui-label>
  <p>&nbsp;</p>
  <sui-label circular empty color="red"></sui-label>
  <sui-label circular empty color="orange"></sui-label>
  <sui-label circular empty color="yellow"></sui-label>
  <sui-label circular empty color="olive"></sui-label>
  <sui-label circular empty color="green"></sui-label>
  <sui-label circular empty color="teal"></sui-label>
  <sui-label circular empty color="blue"></sui-label>
  <sui-label circular empty color="violet"></sui-label>
  <sui-label circular empty color="purple"></sui-label>
  <sui-label circular empty color="pink"></sui-label>
  <sui-label circular empty color="brown"></sui-label>
  <sui-label circular empty color="grey"></sui-label>
  <sui-label circular empty color="black"></sui-label>
  <h4 sui-header>Basic</h4>
  <p>A label can reduce its complexity</p>
  <sui-label basic>Basic</sui-label>
  <sui-label basic point="above">Pointing</sui-label>
  <sui-label basic>
    <img src="assets/images/wireframe/image.png">
    Elliot
  </sui-label>
  <sui-label basic color="red" point="above">Red Pointing</sui-label>
  <sui-label basic color="blue">Blue</sui-label>
  <h4 sui-header>Colored</h4>
  <p>A label can have different colors</p>
  <sui-label color="red">Red</sui-label>
  <sui-label color="orange">Orange</sui-label>
  <sui-label color="yellow">Yellow</sui-label>
  <sui-label color="olive">Olive</sui-label>
  <sui-label color="green">Green</sui-label>
  <sui-label color="teal">Teal</sui-label>
  <sui-label color="blue">Blue</sui-label>
  <sui-label color="violet">Violet</sui-label>
  <sui-label color="purple">Purple</sui-label>
  <sui-label color="pink">Pink</sui-label>
  <sui-label color="brown">Brown</sui-label>
  <sui-label color="grey">Grey</sui-label>
  <sui-label color="black">Black</sui-label>
  <h4 sui-header>Size</h4>
  <p>A label can be small or large</p>
  <a sui-label size="mini">Mini</a>
  <a sui-label size="tiny">Tiny</a>
  <a sui-label size="small">Small</a>
  <a sui-label size="medium">Medium</a>
  <a sui-label size="large">Large</a>
  <a sui-label size="big">Big</a>
  <a sui-label size="huge">Huge</a>
  <a sui-label size="massive">Massive</a>
  <h3 sui-header>Groups</h3>
  <h4 sui-header>Group Size</h4>
  <p>Labels can share sizes together</p>
  <div sui-labels size="huge">
    <a sui-label>Fun</a>
    <a sui-label>Happy</a>
    <a sui-label>Smart</a>
    <a sui-label>Witty</a>
  </div>
  <h4 sui-header>Colored Group</h4>
  <p>Labels can share colors together</p>
  <div sui-labels color="blue">
    <a sui-label icon="close" iconSide="right">Fun</a>
    <a sui-label>
      Happy
      <div class="detail">22</div>
    </a>
    <a sui-label>Smart</a>
    <a sui-label>Insane</a>
    <a sui-label>Exciting</a>
  </div>
  <h4 sui-header>Tag Group</h4>
  <p>Labels can share tag formatting</p>
  <div sui-labels tag>
    <a sui-label>$10.00</a>
    <a sui-label>$19.99</a>
    <a sui-label>$24.99</a>
    <a sui-label>$30.99</a>
    <a sui-label>$10.25</a>
  </div>
  <h4 sui-header>Circular Group</h4>
  <p>Labels can share shapes</p>
  <div sui-labels circular>
    <a sui-label>11</a>
    <a sui-label>22</a>
    <a sui-label>33</a>
    <a sui-label>44</a>
    <a sui-label>141</a>
  </div>
  <h2 sui-header>List</h2>
  <p>A list groups related content</p>
  <sui-list>
    <div class="item">Apples</div>
    <div class="item">Pears</div>
    <div class="item">Oranges</div>
  </sui-list>
  <p>&nbsp;</p>
  <sui-list>
    <div class="item">
      <i sui-icon="users"></i>
      <div class="content">Semantic UI</div>
    </div>
    <div class="item">
      <i sui-icon="marker"></i>
      <div class="content">New York, NY</div>
    </div>
    <div class="item">
      <i sui-icon="mail"></i>
      <div class="content"><a href="mailto:jack@semantic-ui.com">jack@semantic-ui.com</a></div>
    </div>
    <div class="item">
      <i sui-icon="linkify"></i>
      <div class="content"><a href="http://www.semantic-ui.com">semantic-ui.com</a></div>
    </div>
  </sui-list>
</div>
